.dark .scrollbar-slim::-webkit-scrollbar{
    width: 8px;
}

.dark .scrollbar-slim::-webkit-scrollbar-track {
    background: #272F45;
}

.dark .scrollbar-slim::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #40485f;
}

.os-scrollbar .os-scrollbar-handle{
    background-color: #9efff91a;
}
.os-scrollbar .os-scrollbar-handle:hover{
    background-color: #9efff9fa;
}

.os-scrollbar .os-scrollbar-track{
    background-color: #272F45;
}
.os-scrollbar .os-scrollbar-track:hover{
    background-color: #272F45;
}
