.dark .scrollbar-slim::-webkit-scrollbar{
    width: 8px;
}

.dark .scrollbar-slim::-webkit-scrollbar-track {
    background: #2E324D;
}

.dark .scrollbar-slim::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #191e2f;
}

.os-scrollbar .os-scrollbar-handle{
    background-color: #00f7e7a8 !important;
}
.os-scrollbar .os-scrollbar-handle:hover{
    background-color: #00f7e7 !important;
}
.os-scrollbar .os-scrollbar-track{
    background-color: rgba(184, 191, 204, 0.13) !important;
}
.os-scrollbar .os-scrollbar-track:hover{
    background-color: rgba(103, 108, 140, 0.13) !important;
}
