.dark .scrollbar-slim::-webkit-scrollbar{
    width: 8px;
}

.dark .scrollbar-slim::-webkit-scrollbar-track {
    background: #2E324D;
}

.dark .scrollbar-slim::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #191e2f;
}
