@tailwind base;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', 'sans-serif';
        font-feature-settings: "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08", "calt", "dlig";
    }
}

@layer utilities {
    .drag-title-bar {
        -webkit-app-region: drag;
    }
    .no-drag-title-bar {
        -webkit-app-region: no-drag;
    }
}

body {
    overflow: hidden;
}
