.vue-flow__node{
    outline: none;
}

.dark .vue-flow__background{
    background-color: #090B10;
}

.dark .vue-flow__minimap{
    background-color: #2E324D;
}

.dark .vue-flow__minimap-mask {
    fill: rgba(0,0,0,0.3);
}
.dark .vue-flow__minimap-node{
    fill: #414A6C;
}
.dark .vue-flow__minimap-node.active{
    fill: #3b82f6;
}

.add-crosshair .vue-flow__pane.draggable{
    cursor: crosshair;
}
